html, body, #app, #app>div {
  height: 100%
}

body {
  text-align: center;
}

.search-result {
  cursor: pointer;
  user-select: none;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.search-result-art {
  height: 64px;
  width: 64px;
}

.search-result-track {

}

.search-result-artist {
  
}

.PlayerRSWP {
  position: fixed;
  bottom: 0;
}

div._SliderRSWP.__181lube {
  width: 100%;
  margin: 0 auto;
}