@font-face {
  font-family: "Trickster";
  src: url("https://files.cargocollective.com/c1451007/Trickster-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html, body, #app, #app>div {
  height: 100%
}

body {
  font-family: "Helvetica", sans-serif;
  text-align: center;
}

.landing-page {
  display: flex;
  flex-flow: column nowrap;
  background-color: black;
  height: 100vh;
}

.landing-page-title {
  font-family: "Trickster";
  font-size: 6.5em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  margin-bottom: 0;
}

.landing-page-subtitle {
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  font-size: .8em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.login-button-wrapper {
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid red;
}

.login-button {
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 2em;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(72, 246, 19);
  margin-top: 100px;
}

.levitating-broom {
  width: 150px;
}

.levitator {
	pointer-events: none;
}

.levitator > * {
  animation: levitate 36s linear infinite;
  pointer-events: none;
	top: 0;
	left: 0;
	transform: translateX(-120%) translateY(-120%) rotateZ(0);
	position: fixed;
	animation-delay: 5s;
	z-index: 999999;
}

@keyframes levitate {

	98.001%, 0% {
    display: block;
		transform: translateX(-200%) translateY(100vh) rotateZ(0deg)
	}

	15% {
		transform: translateX(100vw) translateY(-100%) rotateZ(180deg)
	}

	15.001%, 18% {
		transform: translateX(100vw) translateY(-30%) rotateZ(0deg)
	}

	40% {
		transform: translateX(-200%) translateY(3vh) rotateZ(-180deg)
	}

	40.001%, 43% {
		transform: translateX(-200%) translateY(-100%) rotateZ(-180deg)
	}

	65% {
		transform: translateX(100vw) translateY(50vh) rotateZ(0deg)
	}

	65.001%, 68% {
		transform: translateX(20vw) translateY(-200%) rotateZ(180deg)
	}

	95% {
		transform: translateX(10vw) translateY(100vh) rotateZ(0deg)
	}
}

.search-result {
  cursor: pointer;
  user-select: none;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.search-result-art {
  height: 64px;
  width: 64px;
}

.search-result-track {

}

.search-result-artist {
  
}

.PlayerRSWP {
  position: fixed;
  bottom: 0;
}

div._SliderRSWP.__181lube {
  width: 100%;
  margin: 0 auto;
}